server:
  port: 9003

spring:
  application:
    name: nacos-payment-provider
  cloud:
    nacos:
      discovery:
        # 配置 Nacos 地址
        server-addr: localhost:8848

management:
  endpoints:
    web:
      exposure:
        include: '*